<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NotePaddle.Properties.Settings.generalDBConnectionString" connectionString="Data Source=sqlgeneralwork.database.windows.net;Initial Catalog=generalDB;Persist Security Info=True;User ID=NotePaddle;Password=9vr%X#@kfUtH4x5G" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
